<h2>Coruja Educação</h2>
<a href="#" class="logo"><img class="logo" alt="Coruja Educação - Página Inicial" src="assets/img/logo.png" width="173px" height="80px"></a>
<nav class="desktop-nav">
    <h2>Navegação Principal - Desktop</h2>
    <ul>
        <li><a href="#">O QUE FAZEMOS?</a></li>
        <li><a href="#">SOLUÇÕES</a></li>
        <li><a href="#">PARCEIROS</a></li>
        <li><a href="#">QUEM SOMOS</a></li>
        <li><a href="#">ÁREA DO CLIENTE</a></li>
    </ul>
</nav>
<span>NAVEGAÇÃO</span>
<div class="menu-toggle btn-red" id="_menu-toggle1">
    <span></span>
    <span></span>
    <span></span>
    <span></span>
</div>
<div class="user-info">
    <ul class="not-logged-in">
        <li><a href="#" id="_log-in">Acessar conta</a></li>
        <li><a href="#">Cadastrar-se</a></li>
    </ul>
    <ul class="logged-in hide">
        <li>Oooooooooooooooooooooo</li>
        <li>Dude, what's goin on?</li>
        <li>I dunno, do ya?</li>
        <li><a href="#">Opções</a></li>
        <li><a href="#" id="_log-out">Sair</a></li>
    </ul>
</div>
