<h2>Coruja Educação</h2>
<a href="#" class="logo" data-aos="zoom-out"><img class="logo animated fadeInDown" alt="Coruja Educação - Página Inicial" src="/assets/img/logo.png" width="173px" height="80px"></a>
<nav class="desktop-nav navigation" data-aos="zoom-out">
    <h2>Navegação Principal - Desktop</h2>
    <ul>
        <li><a href="#">Página Inicial</a></li>
        <li><a href="/pages/Solucoes/index.html">Soluções</a></li>
        <li><a href="#">Parceiros</a></li>
        <li><a href="#">Quem Somos</a></li>
        <li><a href="#">Área do Cliente</a></li>
    </ul>
</nav>
<div class="nav-menu-toggle" data-aos="zoom-out">
    <span>MENU</span>
    <div class="menu-toggle btn-red" id="_menu-toggle1">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
    </div>
</div>
<div class="user-info" data-aos="zoom-out">
    <ul class="not-logged-in">
        <!--
        <li><a href="#" id="_log-in">Acesse sua conta</a></li>
        <li><a href="https://canal.corujaedu.com.br/Conta/Login" id="_log-in">Acesse sua conta</a></li>
-->
        <li><a href="#" id="_log-in">Acesse sua conta</a></li>
        <li>Não tem conta?</li>
        <li><a href="#">Cadastre-se</a></li>
        <!--<li><p>Não tem conta?</p><a href="#">Cadastre-se</a></li>-->
    </ul>
    <ul class="logged-in hide">
        <li>Oooooooooooooooooooooo</li>
        <li>Dude, what's goin on?</li>
        <li>I dunno, do ya?</li>
        <li><a href="#">Opções</a></li>
        <li><a href="#" id="_log-out">Sair</a></li>
    </ul>
</div>
<nav class="mobile-nav navigation">
    <h2>Navegação Principal - Mobile</h2>
    <ul>
        <li><a href="#">O que fazemos?</a></li>
        <li><a href="/pages/Solucoes/index.html">Soluções</a></li>
        <li><a href="#">Parceiros</a></li>
        <li><a href="#">Quem Somos</a></li>
        <li><a href="#">Área do Cliente</a></li>
        <li><a href="#">Acessar</a></li>
        <li><a href="#">Criar Conta</a></li>
    </ul>
</nav>
<script type="text/javascript" src="/templates/header/assets/js/header.js"></script>
