/* remember: rules are aplied in a "first come, first served" manner, overwriting past rules */

/* tags */

h1 {
    display: none;
}

h2 {
    font-family: 'Bariol', sans-serif;
    font-size: 36px;
    line-height: 1.5;
    margin-bottom: 18px;
}

h3 {
    font-family: 'Bariol', sans-serif;
    font-size: 24px;
    line-height: 1.5;
    margin: 12px 0 12px;
}

body {
    background-color: white;
    font-family: 'Lato', sans-serif;
    font-size: 14px;
}

ul li {
    padding: 5px;
    margin: 0;
}

ul a {
    text-decoration: none;
}

p {
    font-size: 14px;
    line-height: 1.5;
    -webkit-hyphens: auto;
    hyphens: auto;
}


/* classes */

/* general */

.btn-white {
    background: #fff;
    border: 2px solid #E24301;
    /*    border-radius: 3px;*/
    padding: 10px;
    color: #E24301;
    transition: 0.3s;
    text-decoration: none;
    text-align: center;
    margin: 20px 0;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, .20);
}

.btn-white:hover {
    background: #E24301;
    color: white;
    cursor: pointer;
}

.btn-red {
    background: #E24301;
    color: white;
    border: 2px solid #E24301;
    /*    border-radius: 3px;*/
    padding: 10px;
    transition: 0.3s;
    text-decoration: none;
    text-align: center;
    margin: 20px 0;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, .20);
}

.btn-red:hover {
    background: white;
    color: #E24301;
    cursor: pointer;
}

.wrapper {
    background-color: #ccc;
}


/* /general */

/* header */

.header {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 80px;
    background-color: white;
    border-bottom: 2px solid #E24301;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    font-weight: 900;
    z-index: 10;
}

.header img {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 173px;
    height: 80px;
    width: 173px;
}

.menu-toggle {
    margin: 0 20px 0 0;
    width: 20px;
    height: 20px;
}

.menu-toggle:hover span {
    background: #E24301;
}

.menu-toggle span {
    display: block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    height: 4px;
    background: #fff;
    transition: .5s;
}

.menu-toggle span:nth-child(1) {
    transform: translateY(-50%) translateY(-10px);
    box-shadow: 2px 2px 0px rgba(0, 0, 0, .20);
}

.menu-toggle span:nth-child(4) {
    transform: translateY(-50%) translateY(10px);
    box-shadow: 2px 2px 0px rgba(0, 0, 0, .20);
}

.menu-toggle span:nth-child(2) {
    box-shadow: 2px 2px 0px rgba(0, 0, 0, .20);
}

.menu-toggle.active span:nth-child(1) {
    transform: translateY(-50%) translateY(-20px);
    opacity: 0;
    transition: .2s;
}

.menu-toggle.active span:nth-child(4) {
    transform: translateY(-50%) translateY(20px);
    opacity: 0;
    transition: .2s;
}

.menu-toggle.active span:nth-child(2) {
    transform: translateY(-50%) rotate(-135deg);
    box-shadow: -3px -2px 0px rgba(0, 0, 0, .20);
}

.menu-toggle.active span:nth-child(3) {
    transform: translateY(-50%) rotate(135deg);
    box-shadow: 2px -3px 0px rgba(0, 0, 0, .20);
}

.user-info {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 193px;
    font-size: 13px;
    display: none;
}

.user-info ul {
    list-style: none;
    text-align: right;
    font-weight: 300;
    margin: 20px;
}

.user-info li {
    margin: 0;
    padding: 3px;
    text-decoration: none;
}

.user-info a {
    text-decoration: none;
    color: orange;
    font-weight: 400;
}

.user-info a:hover {
    font-weight: 700;
    color: darkorange;
}

.logged-in {
    display: block;
}


.logged-in {
    display: none;
}

.mobile-nav {
    background: white;
    position: fixed;
    top: -392px;
    left: 0px;
    width: 100%;
    height: 392px;
    transition: 0.5s;
    z-index: 9;
}

.mobile-nav ul {
    font-weight: 700;
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: space-around;
    margin: 20px 10px;
}

.mobile-nav li {
    margin: 10px;
}

.show-mobile-nav {
    top: 82px;
}


/* desktop navigation */

.desktop-nav {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0;
}

.desktop-nav-list {
    display: flex;
    text-align: center;
    justify-content: center;
}


/* /desktop navigation */

/* /header*/

/* content */

.content {
    margin-top: 82px;
}

.descr {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    max-width: 700px;
    padding: 0 20px;
}

.descr .btn-red {
    margin: 20px auto;
}

.intro {
    display: block;
    width: 100%;
    height: calc(100vh - 82px);
}

.intro .descr {
    display: block;
    position: absolute;
    top: 82px;
    left: 50%;
    margin-top: 5%;
    transform: translateX(-50%);
    z-index: 2;
    color: white;
    text-align: center;
    min-width: 220px;
}


.background {
    width: inherit;
    height: inherit;
    position: relative;
    z-index: 1;
    background-image: url("../img/smiling_children.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.background::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: inherit;
    height: inherit;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: -1;
}

.section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
}

.sec-ele {
    flex-basis: 383px;
    flex-grow: 1;
    flex-shrink: 1;
    /*    height: auto;*/
    margin: 20px;
}

.poster {
    background-color: chartreuse;
}

.section-highlight {
    text-align: center !important;
    background-color: rgba(0, 0, 0, 0.8);
    color: #fff;
    padding: 30px 20px 40px;
}

.section-highlight .descr {
    margin: 0 auto;
}

.section-highlight h3::after,
.section-center h3::after {
    content: "";
    display: block;
    margin: 15px auto;
    height: 2px;
    width: 120px;
    background-color: rgba(255, 255, 255, 0.2);
}

.section-center {
    text-align: center;
}

.section-center h3::after {
    background-color: rgba(0, 0, 0, 0.3);
}


.section-center .descr {
    margin: 30px auto 40px;
}

.poster iframe {
    width: 100%;
    height: 100%;
    min-height: 400px;
    max-width: 100%;
    max-height: 100%;
}

.poster img {
    width: 100%;
    max-height: inherit;
    object-fit: cover;
    object-position: center;
}

.showcase {
    flex-grow: 0;
}

.showcase img {
    width: 100%;
    height:
}

.sec-ele li {
    padding: 10px 0;
}

.dl-samples {
    display: flex;
    justify-content: space-around;
}


/*
.background img {
    width: inherit;
    height: inherit;
    position: inherit;
    top: inherit;
    left: inherit;
    object-fit: cover;
    z-index: inherit;
    background-color: black;
    opacity: 0.4;
}

.overlay {

width: inherit;
height: inherit;
position: inherit;
top: inherit;
left: inherit;
object-fit: cover;
background-color: transparent;
opacity: 0.4;
z-index: inherit;
} */

/* /content */

/* footer */

.footer {
    text-align: center;
    padding: 20px;
    position: relative;
    top: 50%;
    line-height: 28px;
    background-color: darksalmon;
}

/* /footer */

/* compatibility */

/*
@supports not (display: flex) {
    body::before {
        content: "<< Seu navegador não está atualizado ou não é suportado. Considere utilizar as versões mais atuais do Google Chrome, Firefox, Safari ou Edge. >>";
        background-color: red;
    }
}
*/

/* VIEWS ADAPTATIVAS */

/* Mobile First */

@media (max-width: 530px) {
    .desktop-view {
        display: none;
    }
    .wrapper {
        background-color: #BEDBE9;
    }
}

/* Tablet */

@media (min-width: 531px) and (max-width: 1022px) {
    .desktop-view {
        display: none;
    }
    .wrapper {
        background-color: #ED6D62;
    }
    h2 {
        font-size: 48px;
        margin-bottom: 24px;
    }
    h3 {
        font-size: 32px;
        margin-bottom: 16px;
    }
    .section-highlight h3::after {
        margin: 20px auto;
    }
    .poster {
        max-height: 400px;
    }
    .poster img {
        max-height: inherit;
    }
}


/* Desktop */

@media (min-width: 1023px) {
    h2 {
        font-size: 60px;
        margin-bottom: 30px;
    }
    h3 {
        font-size: 36px;
        margin-bottom: 18px;
    }
    p {
        font-size: 16px;
    }
    .mobile-view {
        display: none;
    }
    .header {
        height: 110px;
    }
    .header img {
        flex-grow: 0;
        flex-shrink: 0;
        flex-basis: 237px;
        height: 110px;
        width: 237px;
    }
    .wrapper {
        background-color: #FFFA8D;
    }
    .menu-toggle {
        display: none;
    }
    .user-info {
        display: block;
    }
    .content {
        margin-top: 110px;
    }
    .intro {
        height: calc(100vh - 110px);
    }
    .intro .descr {
        top: 110px;
        width: 926px;
    }
    .section-highlight h3::after {
        margin: 30px auto;
    }
    /*
    .section {
        margin: 40px;
        padding: 40px 0;
    }
*/
    .section:nth-child(odd) {
        text-align: left;
    }
    .section:nth-child(even) {
        text-align: right;
        flex-direction: row-reverse;
    }
    .section:nth-child(odd) .btn-red {
        margin-left: 0;
    }
    .section:nth-child(even) .btn-red {
        margin-right: 0;
    }
    .sec-ele {
        /*        margin: 40px;*/
    }
    .poster {
        max-height: 500px;
    }
    .poster img {
        max-height: inherit;
    }
}
