html,
body {
    margin: 0;
}

.hero {
    background: #333 url("/assets/img/smiling_children.jpg") no-repeat center;
    background-color: #333;
    background-size: cover;
    background-clip: content-box;
}

.hero::after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #000;
    opacity: 0.3;
}

.poster {
    background: #333 url("/assets/img/Aval_Coruja_kid.jpg") no-repeat center;
    /*    background-color: #333;*/
    background-size: cover;
    background-clip: content-box;
}
