@import url("/assets/css/reset.css");
@import url("/assets/css/coruja_style.css");
@import url("/templates/footer/assets/css/footer.css");
@import url("/templates/header/assets/css/header.css");
#_solucoes .hero {
    background-image: url("/assets/img/solucoes_hero.jpg");
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#_solucoes .hero .sec-ele {
    color: black;
    /*    background-color: crimson;*/
    padding: 16px;
    margin-top: -40px;
}

#_solucoes .hero h1 {
    color: black;
    flex-basis: 100%;
}

#_solucoes .hero p,
#_solucoes .hero h2 {
    color: #333;
    margin: 0;
    text-align: center;
    max-width: none;
}

#_solucoes .hero h2 {
    padding-top: 12px;
    padding-bottom: 20px;
}

#_solucoes .hero .sec-ele {
    flex: 0 1 280px;
}

.sec-ele .hero-opt {
    text-align: center;
}

.hero-opt {
    font-family: 'Bariol', sans-serif;
    font-size: 24px;
    text-decoration: none;
    color: #e24301;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}

.hero-opt img {
    width: 150px;
    margin: 0 auto;
}

/*mobile*/

@media (max-width: 480px) {
    .hero {
        height: auto;
    }
    .hero-opt {
        font-size: 28px;
    }

}

/*tablet*/

@media (min-width: 481px) and (max-width: 930px) {
    .hero {
        height: auto;
    }
    .hero-opt {}
    .hero .sec-ele {
        flex: 1 1 100px;
    }
}

/*desktop*/

@media (min-width: 931px) {
    .hero-opt {}
    #_solucoes .hero .sec-ele {
        flex: 0 1 340px;
    }
}


#_crjEspe img {
    object-fit: cover;
    object-position: bottom;
}

i {
    font-style: italic;
}
