#_demo .hero .descr {
    transform: translate(0, 0);
    width: 40%;
    max-width: 40%;
    top: auto;
    bottom: 10vh;
    left: auto;
    right: 0;
    padding: 0;
    margin-right: 40px;
}

#_demo .hero p,
#_demo .hero h1 {
    right: 0;
    color: #333;
    margin: 0;
    padding: 0;
    text-align: right;
    max-width: none;
}

#_demo .hero h1 {
    text-align: right;
}

#_demo .descr p {}

#compareNinjaTable_119654 {
    padding: 0;
    margin: 0;
}

#compareNinjaTable_119654 p {
    padding: 4px 0 10px;
}

/*
#compareNinjaTable_119654 > p {
    position: absolute;
    top: -9999px;
}
*/

#compareNinjaTable_119654 a {
    color: orange;
}

#compareNinjaTable_119654 a:hover {
    font-weight: 800;
}

#compareNinjaTable_119654 .cat {
    font-family: 'Bariol', sans-serif;
    font-size: 16px;
    padding: 8px 12px;
}

#vsTableTitle {
    font-family: 'Bariol', sans-serif;
    font-size: 24px !important;
    line-height: 1.5 !important;
    padding: 10px;
    display: none;
}

#compareNinjaTable_119654 .title {
    background: #333333 !important;
    font-family: 'Bariol', sans-serif;
    text-transform: uppercase;
    font-size: 16px;
}

#compareNinjaTable_119654 table#vsTable_119654 {
    border-right: none;
}


#compareNinjaTable_119654 .compareninja_ribbon {
    position: absolute;
    top: -9999px;
}

@media (max-width: 930px) {
    #_demo .hero img {
        object-position: bottom right;
    }
}

/*mobile*/

@media (max-width: 480px) {}

/*tablet*/

@media (min-width: 481px) and (max-width: 930px) {}

/*desktop*/

@media (min-width: 931px) {
    #_demo #compareNinjaTable_119654 {
        max-width: 42.7vw;
        margin: 0 auto;
    }
}
