html {
    font-family: "lato", sans-serif;
    font-weight: 100;
    font-size: 4px;
    line-height: 4px;
}

h1,
h2,
p,
ul,
li,
a {
    text-decoration: none;
    color: #333;
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 8px;
}

h1 {
    margin-top: 20px;
    font-size: 20px;
    font-weight: 700;
    line-height: 32px;
}

h2 {
    margin-top: 4px;
    font-size: 16px;
    font-weight: 400;
    color: darkgrey;
    line-height: 20px;
}

.signature {
    float: none;
    clear: both;
    min-height: 120px;
    height: auto;
    background-color: aqua;
}

.personal-info {
    background-color: aquamarine;
}

.logo {
    background-color: floralwhite;
}

.personal-info,
.logo,
.contact-info {
    height: auto;
    float: left;
    padding: 4px 0;
}

.logo img {
    margin: 24px 16px;
    height: 52px;
}

ul {
    margin-top: 0;
}

ul li {
    /*    word-wrap: none;*/
}

li img {
    width: 12px;
    height: 12px;
    margin: 0 12px 0 0;
    vertical-align: middle;
}

li a {
    line-height: 28px;
    font-size: 12px;
    color: darkgrey;
    text-decoration: underline;
}

li span {
    line-height: 28px;
    font-size: 12px;
    color: darkgrey;
}

.contact-info {
    height: auto;
    background-color: blanchedalmond;
}

.disclaimer {
    padding: 8px 0;
    display: block;
    clear: both;
    font-size: 10px;
    line-height: 12px;
    color: lightgrey;
    background-color: aliceblue
}
