<p>
    <button id="_myBtn1" class="btn">#myBtn1 .btn</button>
</p>
<p>
    <button id="_myBtn2" class="btn">#myBtn2 .btn</button>
</p>
<address>
    <div class="sobre"><a class="call-to-action" href="#">Sobre a Coruja</a></div>
    <div class="contato">Fale Conosco: Telefone / E-mail</div>
    <div class="contato"><a href="#">Suporte / Perguntas Frequentes</a></div>
    <div class="contato"><a href="#">Equipe</a></div>
    <div class="contato"><a href="#">Parceiros</a></div>
    <div class="contato"><a href="#">Facebook / Youtube / Medium</a></div>
    <div class="endereco">
        <p>Rua Dr. Virgílio de Carvalho Pinto, 433</p>
        <p>Office 7A</p>
        <p>Pinheiros, São Paulo - SP, CEP 05415-030 (Impact Hub)</p>
    </div>
</address>
<script type="text/javascript" src="templates/header/assets/js/header.js"></script>
