<address>
    <div class="contato">
        <h3>Dúvidas?</h3>
        <!--            <a href="#">Sobre a Coruja</a>-->
        <a href="#"><i class="fa fa-link fa-lg"></i>Fale Conosco</a>
        <a href="#"><i class="fa fa-link fa-lg"></i>Perguntas Frequentes</a>
        <a href="#"><i class="fa fa-link fa-lg"></i>Equipe</a>
        <!--            <p>Fale Conosco: Telefone / E-mail</p> -->
    </div>
    <div class="social-medias">
        <h3>Siga-nos</h3>
        <a href="https://www.facebook.com/corujaedu"><i class="fa fa-facebook-official fa-lg"></i> Facebook</a>
        <a href="https://www.youtube.com/channel/UCHyUf7MmvkSVWwJBMwSy5jg"><i class="fa fa-youtube-square fa-lg"></i> Youtube</a>
        <a href="https://medium.com/coruja-educa%C3%A7%C3%A3o"><i class="fa fa-medium fa-lg"></i> Medium - Blog</a>
    </div>
    <div class="endereco">
        <h3>Endereço</h3>
        <p>Rua Dr. Virgílio de Carvalho Pinto, 433</p>
        <p>Office 7A</p>
        <p>Pinheiros, São Paulo - SP, CEP 05415-030 (Impact Hub)</p>
    </div>
</address>
<div class="creditos">
    <h3>créditos</h3>
    <p>₢flaticon</p>
    <p>@takagi.massao</p>
</div>
