body {
    background-color: lightgrey;
    font-family: 'Lato', sans-serif;
    font-size: 14px;
}

.wrapper {
    background-color: #ccc;
}

h2 {
    font-family: 'Bariol', sans-serif;
    font-size: 28px;
    line-height: 42px;
}

.navigation {
    position: fixed;
    width: 100%;
    background-color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    margin: 0;
    padding: 0;
}

.logo {
    max-height: 80px;
    width: auto;
    flex: 0 1 0;
    margin: 0;
    padding: 0;
}

.menu-toggle {
    flex: 0 1 0;
    padding: 10px;
    background-color: #E24313;
    border-radius: 9px;
    color: white;
    margin: auto 15px;
}

.header-line {
    position: fixed;
    top: 80px;
    left: 0px;
    height: 2px;
    background-color: red;
    width: 100vw;
}

.logged-in {
    height: 80px;
    font-size: 12px;
    margin-top: 40px;
    padding: 0 20px;
}

.mobile-nav {
    background-color: aqua;
    position: fixed;
    top: 81px;
    left: 0px;
}

.desktop-nav {
    flex: 1 1 0;
}

.desktop-nav-list {
    display: flex;
    text-align: center;
    justify-content: space-around;
}

.nav-item {
    margin: 0;
    width: 131px;
    border-radius: 15px;
    background-color: #E24313;
    padding: 7px;
}

.a-nav {
    text-decoration: none;
    color: white;
}

.away {
    position: absolute;
    top: -9999px;
    left: -9999px;
}

.hidden {
    visibility: hidden;
}

.disabled {
    display: none;
}

.poster {
    width: 100px;
    height: 100px;
    background-color: lightgreen;
}

.header {
    grid-area: header;
}

.content {
    grid-area: content;
}

.footer {
    grid-area: footer;
}

@supports not (display: grid) {
    body::before {
        content: "<< Seu navegador não está atualizado ou não é suportado. Considere utilizar as versões mais atuais do Google Chrome, Safari ou Firefox. >>";
        background-color: red;
    }
}


/* Mobile */

@media (max-width: 599px) {
    .view-desktop {
        display: none;
    }
    .logo {
        height: 80px;
        width: auto;
    }
    .wrapper {
        background-color: chartreuse;
        display: grid;
        grid-gap: 10px 10px;
        grid-template-columns: 1fr;
        grid-template-rows: 80px 1fr 200px;
        grid-template-areas: "header header" "content content" "footer footer";
    }
    .logged-in {
        display: none;
    }
}


/* Tablet */

@media (min-width: 600px) and (max-width: 1149px) {
    .view-desktop {
        display: none;
    }
    .logged-in {
        display: none;
    }
    .wrapper {
        display: grid;
        grid-gap: 15px;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: 80px 1fr 200px;
        grid-template-areas: "header header header header" "content content content content" "footer footer footer footer";
    }
}


/* Desktop */

@media (min-width: 1151px) {
    .view-mobile {
        display: none;
    }
    .navigation {
        height: 110px;
        justify-content: space-around;
    }
    .logo {
        max-height: 110px;
        width: auto;
    }
    .header-line {
        top: 110px;
    }
    .wrapper {
        display: grid;
        grid-gap: 20px;
        grid-template-columns: repeat(8, 1fr);
        grid-template-rows: 110px 1fr 300px;
        grid-template-areas: "header header header header header header header header" "content content content content content content content content" "footer footer footer footer footer footer footer footer";
    }
}


/* The Modal (background) */

.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    padding-top: 100px;
    /* Location of the box */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
}


/* Modal Content */

.modal-content {
    -moz-animation-duration: 0.4s;
    -webkit-animation-duration: 0.4s;
    animation-duration: 0.4s -moz-animation-name: animatetop;
    -webkit-animation-name: animatetop;
    animation-name: animatetop;
    background-color: #fefefe;
    border: 1px solid #888;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin: auto;
    padding: 0;
    position: relative;
    width: 80%;
}


/* Add Animation */

@-webkit-keyframes animatetop {
    from {
        top: -300px;
        opacity: 0
    }
    to {
        top: 0;
        opacity: 1
    }
}

@keyframes animatetop {
    from {
        top: -300px;
        opacity: 0
    }
    to {
        top: 0;
        opacity: 1
    }
}


/* The Close Button */

.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
}

.modal-body {
    padding: 2px 16px;
}

.modal-footer {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
}
