h1 {
    display: none;
}

h2 {
    font-family: 'Bariol', sans-serif;
    font-size: 28px;
    line-height: 46px;
}

h3 {
    font-family: 'Bariol', sans-serif;
    font-size: 22px;
    line-height: 38px;
}

body {
    background-color: lightgrey;
    font-family: 'Lato', sans-serif;
    font-size: 14px;
}

.wrapper {
    background-color: #ccc;
}

.header {
    font-family: 'Bariol', sans-serif;
    font-size: 16px;
    grid-area: header;
    position: fixed;
    width: 100%;
    background-color: #fff;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    margin: 0;
    padding: 0;
    border-bottom: 2px solid #E24301;
    z-index: 10;
}

.logo {
    max-height: 80px;
    width: auto;
    flex: 0 1 0;
    margin: 0;
    padding: 0;
}

.menu-toggle {
    display: block;
    width: 38px;
    height: 38px;
    background-color: #E24301;
    border-radius: 9px;
    margin: auto 15px;
    position: absolute;
    top: 50%;
    right: 0px;
    transform: translate(0, -50%);
    box-shadow: 0 2px 2px rgba(0, 0, 0, .20);
}

.menu-toggle:hover {
    cursor: pointer;
}

.menu-toggle span {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 20px;
    height: 2px;
    background: #fff;
    transition: .5s;
    box-shadow: 0 2px 2px rgba(0, 0, 0, .20);
}

.menu-toggle span:nth-child(1) {
    transform: translate(-50%, -50%) translateY(-8px);
}

.menu-toggle span:nth-child(4) {
    transform: translate(-50%, -50%) translateY(8px);
}

.menu-toggle.active span:nth-child(1) {
    transform: translate(-50%, -50%) translateY(-20px);
    opacity: 0;
    transition: .2s;
}

.menu-toggle.active span:nth-child(4) {
    transform: translate(-50%, -50%) translateY(20px);
    opacity: 0;
    transition: .2s;
}

.menu-toggle.active span:nth-child(2) {
    transform: translate(-50%, -50%) rotate(-135deg);
}

.menu-toggle.active span:nth-child(3) {
    transform: translate(-50%, -50%) rotate(135deg);
}

.mobile-nav {
    font-family: 'Bariol', sans-serif;
    font-size: 16px;
    display: block;
    align-items: center;
    background-color: #fff;
    width: 100%;
    min-height: 228px;
    position: fixed;
    top: -300px;
    left: 0;
    z-index: 9;
    transition: .5s;
    padding: 10px 0;
}

.glist li {
    padding: 9px;
    margin: 0;
}

.glist a {
    text-decoration: none;
    margin: 0;
    padding: 7px;
    color: white;
    border-radius: 9px;
    background-color: #E24301;
    box-shadow: 0 2px 2px rgba(0, 0, 0, .20);
}

.mobile-nav-list {
    display: block;
}

.mobile-nav-list li {
    margin: 5px 0 !important;
    text-align: center;
}

.mobile-nav-list a {
    width: 100vw;
    border-radius:
}

.show-mobile-nav {
    transform: translate(0, 382px);
}

.logged-in {
    height: 80px;
    font-size: 12px;
    margin-top: 40px;
    padding: 0 20px;
}

.user-info-resume {
    list-style: none;
}

.user-info-resume li {
    margin: 0;
    padding: 3px;
    text-decoration: none;
}

.desktop-nav {
    flex: 1 1 0;
}

.desktop-nav-list {
    display: flex;
    text-align: center;
    justify-content: space-around;
}

.away {
    position: absolute;
    top: -9999px;
    left: -9999px;
}

.hidden {
    visibility: hidden;
}

.disabled {
    display: none;
}

.bg-img {
    background-image: url("../img/smiling_children.jpg");
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
}

.intro {
    width: 400px;
    height: 230px;
    background: white;
    text-align: right;
    padding: 20px;
    grid-column: ;
}

.content {
    grid-area: content;
}

.section-intro {
    height: 100vh;
}

.section-gen {
    padding-top: 40px;
}

.footer {
    grid-area: footer;
}

.btn-red {
    padding: 10px 12px;
    color: white;
    border-style: none;
    border-radius: 9px;
    background-color: #E24301;
    box-shadow: 0 2px 2px rgba(0, 0, 0, .20);
}

.btn-dark {
    padding: 10px 12px;
    color: white;
    border-style: none;
    border-radius: 9px;
    background-color: #5A1A08;
    box-shadow: 0 2px 2px rgba(0, 0, 0, .20);
}

@supports not (display: grid) {
    body::before {
        content: "<< Seu navegador não está atualizado ou não é suportado. Considere utilizar as versões mais atuais do Google Chrome, Safari ou Firefox. >>";
        background-color: red;
    }
}


/* Mobile */

@media (max-width: 599px) {
    .desktop-view {
        display: none;
    }
    .logo {
        height: 80px;
        width: auto;
    }
    .wrapper {
        background-color: #BEDBE9;
        display: grid;
        grid-gap: 10px;
        grid-template-columns: 1fr;
        grid-template-rows: 72px 1fr 200px;
        grid-template-areas: "header header" "content content" "footer footer";
    }
    .logged-in {
        display: none;
    }
}


/* Tablet */

@media (min-width: 600px) and (max-width: 1150px) {
    .desktop-view {
        display: none;
    }
    .logged-in {
        display: none;
    }
    .wrapper {
        display: grid;
        grid-gap: 15px;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: 67px 1fr 200px;
        grid-template-areas: "header header header header" "content content content content" "footer footer footer footer";
        background-color: #ED6D62;
    }
}


/* Desktop */

@media (min-width: 1151px) {
    .mobile-view {
        display: none;
    }
    .navigation {
        height: 110px;
        justify-content: space-around;
    }
    .header {
        height: 110px;
    }
    .logo {
        max-height: 110px;
        width: auto;
    }
    .header-line {
        top: 110px;
    }
    .wrapper {
        background-color: #FFFA8D;
        display: grid;
        grid-gap: 20px;
        grid-template-columns: repeat(8, 1fr);
        /* first row is, header height - gap for rows */
        grid-template-rows: 90px 1fr 300px;
        grid-template-areas: "header header header header header header header header" "content content content content content content content content" "footer footer footer footer footer footer footer footer";
    }
    .menu-toggle {
        display: none;
    }
}


/* The Modal (background) */

.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    padding-top: 100px;
    /* Location of the box */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
}


/* Modal Content */

.modal-content {
    -moz-animation-duration: 0.4s;
    -webkit-animation-duration: 0.4s;
    animation-duration: 0.4s -moz-animation-name: animatetop;
    -webkit-animation-name: animatetop;
    animation-name: animatetop;
    background-color: #fefefe;
    border: 1px solid #888;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin: auto;
    padding: 0;
    position: relative;
    width: 80%;
}


/* Add Animation */

@-webkit-keyframes animatetop {
    from {
        top: -300px;
        opacity: 0
    }
    to {
        top: 0;
        opacity: 1
    }
}

@keyframes animatetop {
    from {
        top: -300px;
        opacity: 0
    }
    to {
        top: 0;
        opacity: 1
    }
}


/* The Close Button */

.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
}

.modal-body {
    padding: 2px 16px;
}

.modal-footer {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
}
