/* remember: rules are aplied in a "first come, first served" manner, overwriting past rules */

/* general */

h1 {
    font-family: 'Bariol', sans-serif;
    font-size: 36px;
    line-height: 1.2;
    padding: 18px 0;
}

h2 {
    font-family: 'Bariol', sans-serif;
    font-size: 24px;
    line-height: 1.2;
    padding: 28px 0;
}

h3 {
    font-family: 'Lato', sans-serif;
    font-size: 24px;
    line-height: 1.2;
    padding: 12px 0 30px;
}

body {
    background-color: white;
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    line-height: 1.5;
}

ul li {
    padding: 5px;
    margin: 0;
}

ul a {
    text-decoration: none;
}

p {
    font-size: 14px;
    line-height: 1.5;
    -webkit-hyphens: auto;
    hyphens: auto;
}

.btn-white {
    background: #fff;
    border: 2px solid #E24301;
    /*    border-radius: 3px;*/
    padding: 10px;
    color: #E24301;
    transition: 0.3s;
    text-decoration: none;
    text-align: center;
    margin: 20px 0;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, .20);
}

.btn-white:hover {
    background: #E24301;
    color: white;
    cursor: pointer;
}

.btn-red {
    background: #E24301;
    color: white;
    border: 2px solid #E24301;
    /*    border-radius: 3px;*/
    padding: 10px;
    transition: 0.3s;
    text-decoration: none;
    text-align: center;
    /*    margin: 20px 0;*/
    box-shadow: 3px 3px 3px rgba(0, 0, 0, .20);
}

.btn-red:hover {
    background: white;
    color: #E24301;
    cursor: pointer;
}

.wrapper {
    background-color: #ccc;
}

/* /general */

/* main */

main {
    margin-top: 82px;
}

.descr {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    max-width: 75%;
    padding: 0 20px;
    /*    animation-delay: 1s;*/
}

.descr .btn-red {
    margin: 20px auto;
}

.descr li {
    font-size: 1rem;
}

.hero h1,
.hero p {
    text-align: center;
    color: white;
    min-width: 220px;
    z-index: 1;
}

.hero h1 {
    top: 5vh;
}

.hero p {
    font-family: 'Bariol', sans-serif;
    font-size: 24px;
    line-height: 1.5;
}

.hero {
    display: block;
    width: 100%;
    height: calc(100vh - 82px);
}

.background {
    width: inherit;
    height: inherit;
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    z-index: 0;
}

.background img {
    position: relative;
    width: inherit;
    height: inherit;
    object-fit: cover;
}

.hero .descr {
    position: absolute;
    top: 82px;
    left: 50%;
    z-index: 2;
    display: block;
    margin-top: 5%;
    min-width: 201px;
    color: white;
    text-align: center;
    transform: translateX(-50%);
}

.center {
    margin: 0 auto;
    display: block;
    text-align: center;
}

.video iframe {
    width: 42.7vw;
    height: 24vw;
    min-width: 280px;
    min-height: 157.377px;
    ;
}

.video {
    padding: 3rem 0;
}

.center .descr {
    margin: inherit;
    padding: 30px 0 40px;
}

.center h2 {
    text-align: center !important;
}

.center h2::after {
    content: "";
    display: block;
    margin: 20px auto;
    height: 2px;
    width: 120px;
    background-color: rgba(0, 0, 0, 0.3);
}

.sec-ele {
    flex: 1 1 257px;
    margin: 20px;
}

.black-bg h2::after {
    background-color: rgba(255, 255, 255, 0.2);
}

.black-bg {
    background-color: rgba(0, 0, 0, 0.8);
    color: #fff;
}

.side-by-side {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
}

.dl-samples li {
    margin: 0 10px;
}

/*.poster iframe {
    width: 100%;
    height: 100%;
    min-height: 400px;
    max-width: 100%;
    max-height: 100%;
}
*/

.poster {
    width: 100%;
    height: 100%;
    min-height: 400px;
    max-width: 100%;
    max-height: 100%;
    background-color: khaki;
}

.poster img {
    width: 100%;
    max-height: inherit;
    object-fit: cover;
    object-position: center;
}

.showcase {
    flex-grow: 0;
}

.showcase img {
    width: 100%;
    height: auto;
}

.sec-ele li {
    padding: 10px 0;
}

.dl-samples {
    display: flex;
    justify-content: center;
}

.obs {
    color: #e24301;
}

/* /main */

/* compatibility */

/*
@supports not (display: flex) {
    body::before {
        content: "<< Seu navegador não está atualizado ou não é suportado. Considere utilizar as versões mais atuais do Google Chrome, Firefox, Safari ou Edge. >>";
        background-color: red;
    }
}
*/

/* Adaptative VIEWS */

/* Mobile First */

@media (max-width: 480px) {
    .wrapper {
        background-color: #BEDBE9;
    }
}

/* Tablet */

@media (min-width: 481px) and (max-width: 930px) {
    .wrapper {
        background-color: #ED6D62;
    }
    h1 {
        font-size: 48px;
        margin-bottom: 24px;
    }
    h2 {
        font-size: 32px;
        margin-bottom: 20px;
    }
    h3 {
        font-size: 32px;
        margin-bottom: 20px;
    }
    p {
        font-size: 14px;
    }
    .center h3::after {
        margin: 20px auto;
    }
    .poster {
        max-height: 400px;
    }
    .poster img {
        max-height: inherit;
    }
    .sec-ele {
        background-color: aliceblue;
        flex-basis: 300px;
        margin: 30px;
    }
    .center .descr {
        padding: 40px 0 60px;
    }
}

/* Tablets & Desktops */

@media (min-width: 481px) {
    .side-by-side:nth-child(odd) {
        text-align: left;
    }

    .side-by-side:nth-child(even) {
        text-align: right;
        flex-direction: row-reverse;
    }

    .side-by-side:nth-child(odd) .btn-red,
    .side-by-side:nth-child(odd) p,
    .side-by-side:nth-child(odd) ul,
    .side-by-side:nth-child(odd) h2 {
        margin-left: 0;
    }

    .side-by-side:nth-child(even) .btn-red,
    .side-by-side:nth-child(even) p,
    .side-by-side:nth-child(even) ul,
    .side-by-side:nth-child(even) h2 {
        margin-right: 0;
    }

    .side-by-side:nth-child(odd) .dl-samples {
        justify-content: flex-start;
    }

    .side-by-side:nth-child(even) .dl-samples {
        justify-content: flex-end;
    }
}

/* Desktop */

@media (min-width: 931px) {
    h1 {
        font-size: 60px;
        margin-bottom: 30px;
    }
    h2 {
        font-size: 36px;
        margin-bottom: 24px;
    }
    h3 {
        font-size: 36px;
        margin-bottom: 24px;
    }
    p {
        font-size: 16px;
    }

    main {
        margin-top: 110px;
    }

    section:nth-child(n+2) {
        /*        padding-top: 2rem;*/
    }

    .hero {
        height: calc(100vh - 110px);
    }

    .hero .descr {
        top: 110px;
        width: 926px;
    }

    .center h3::after {
        margin: 30px auto;
    }

    .descr p,
    .descr ul,
    .descr h2 {
        max-width: 698px;
        margin: 0 auto;
    }
    /*

    .side-by-side:nth-child(odd) {
        text-align: left;
    }

    .side-by-side:nth-child(even) {
        text-align: right;
        flex-direction: row-reverse;
    }

    .side-by-side:nth-child(odd) .btn-red,
    .side-by-side:nth-child(odd) p,
    .side-by-side:nth-child(odd) ul,
    .side-by-side:nth-child(odd) h2 {
        margin-left: 0;
    }

    .side-by-side:nth-child(even) .btn-red,
    .side-by-side:nth-child(even) p,
    .side-by-side:nth-child(even) ul,
    .side-by-side:nth-child(even) h2 {
        margin-right: 0;
    }

    .side-by-side:nth-child(odd) .dl-samples {
        justify-content: flex-start;
    }

    .side-by-side:nth-child(even) .dl-samples {
        justify-content: flex-end;
    }*/
    .poster {
        max-height: 500px;
    }

    .poster img {
        max-height: inherit;
    }

    .center .descr {
        padding: 50px 0 80px;
    }

    .sec-ele {
        flex-basis: 357px;
        margin: 40px;
    }
}

.hide {
    display: none;
}
