.background {
    background: #333 url(/assets/img/Home-hero.jpg) no-repeat left center;
    /*    background-color: #333;*/
    background-size: cover;
    background-clip: content-box;
}

.background::after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #000;
    opacity: 0.2;
}

.hero h1,
.hero p {
    text-align: left;
}

.hero .descr {
    min-width: 280px;
}

#_comoFunciona .poster {
    background: url("/assets/img/04.jpg") no-repeat center;
    background-size: cover;
    min-height: 40vh;
    max-height: 40vh;
    position: relative;
}

/*#_comoFunciona .poster::after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #000;
    opacity: 0.2;
}*/

.numeros {
    width: 60vw;
    margin: 0 auto 10vh;
}


.numeros span {
    font-family: 'Lato', sans-serif;
}

.num-descr {
    font-size: 6vmin;
}

.num-num {
    color: #e24301;
    font-size: 20vmin;
    line-height: 1;
    text-align: left;
}

.num-caption {
    font-size: 16px;
}

.num:nth-of-type(2n) {
    flex: 1 1 50%;
    text-align: left;
}

.num:nth-of-type(2n + 1) {
    flex: 1 1 50%;
    text-align: right;
}

/*mobile*/

@media (max-width: 480px) {
    .background {
        background: #333 url("/assets/img/Home-hero.jpg") no-repeat left center;
        /*    background-color: #333;*/
        background-size: auto;
        background-clip: content-box;
    }
    .descr {
        transform: translate(0, 0);
        left: 0;
    }

    #_comoFunciona .poster {
        background: url("/assets/img/04.jpg") no-repeat center;
        background-size: cover;
        min-height: 40vmin;
        max-height: 40vmin;
        position: relative;
    }
}

/*tablet*/

@media (min-width: 481px) and (max-width: 930px) {
    .descr {
        transform: translate(0, 0);
        left: 8vw;
        max-width: 50%;
    }
    .hero .descr {
        min-width: 400px;
    }
}

/*desktop*/

@media (min-width: 931px) {
    .descr {
        transform: translate(0, 0);
        left: 10vw;
        max-width: 50%;
    }
    .hero .descr {
        min-width: 478px;
    }
}
