/* remember: rules are aplied in a "first come, first served" manner, overwriting past rules */

/* general */

h1 {
    font-family: 'Bariol', sans-serif;
    font-size: 36px;
    line-height: 1.5;

    margin-bottom: 18px;
}

h2 {
    font-family: 'Bariol', sans-serif;
    font-size: 24px;
    line-height: 1.5;

    margin: 12px 0 12px;
}

body {
    font-family: 'Lato', sans-serif;
    font-size: 14px;

    background-color: white;
}

ul li {
    margin: 0;
    padding: 5px;
}

ul a {
    text-decoration: none;
}

p {
    font-size: 14px;
    line-height: 1.5;

    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
}

.btn-white {
    margin: 20px 0;
    /*    border-radius: 3px;*/
    padding: 10px;

    -webkit-transition: .3s;

    -o-transition: .3s;

    transition: .3s;
    text-align: center;
    text-decoration: none;

    color: #e24301;
    border: 2px solid #e24301;
    background: #fff;
    -webkit-box-shadow: 3px 3px 3px rgba(0, 0, 0, .20);
    box-shadow: 3px 3px 3px rgba(0, 0, 0, .20);
}

.btn-white:hover {
    cursor: pointer;

    color: white;
    background: #e24301;
}

.btn-red {
    margin: 20px 0;
    /*    border-radius: 3px;*/
    padding: 10px;

    -webkit-transition: .3s;

    -o-transition: .3s;

    transition: .3s;
    text-align: center;
    text-decoration: none;

    color: white;
    border: 2px solid #e24301;
    background: #e24301;
    -webkit-box-shadow: 3px 3px 3px rgba(0, 0, 0, .20);
    box-shadow: 3px 3px 3px rgba(0, 0, 0, .20);
}

.btn-red:hover {
    cursor: pointer;

    color: #e24301;
    background: white;
}

.wrapper {
    background-color: #ccc;
}

/* /general */

/* header */

header {
    font-weight: 900;

    position: fixed;
    z-index: 10;
    top: 0;
    right: 0;

    display: -webkit-box;

    display: -ms-flexbox;

    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;

    width: 100%;
    height: 80px;
    margin: 0;
    padding: 0;

    border-bottom: 2px solid #e24301;
    background-color: white;

    -webkit-box-align: center;

    -ms-flex-align: center;

    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

header h2 {
    display: none;
}

.mobile-nav h2,
.desktop-nav h2 {
    display: none;
}

header img {
    width: 173px;
    height: 80px;

    -webkit-box-flex: 0;

    -ms-flex-positive: 0;

    flex-grow: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    -ms-flex-preferred-size: 173px;
    flex-basis: 173px;
}

.menu-toggle {
    width: 20px;
    height: 20px;
    margin: 0 20px 0 0;
}

.menu-toggle:hover span {
    background: #e24301;
}

.menu-toggle span {
    position: absolute;
    top: 50%;

    display: block;

    width: 20px;
    height: 4px;

    -webkit-transition: .5s;

    -o-transition: .5s;

    transition: .5s;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);

    background: #fff;
}

.menu-toggle span:nth-child(1) {
    -webkit-transform: translateY(-50%) translateY(-10px);
    -ms-transform: translateY(-50%) translateY(-10px);
    transform: translateY(-50%) translateY(-10px);

    -webkit-box-shadow: 2px 2px 0 rgba(0, 0, 0, .20);

    box-shadow: 2px 2px 0 rgba(0, 0, 0, .20);
}

.menu-toggle span:nth-child(4) {
    -webkit-transform: translateY(-50%) translateY(10px);
    -ms-transform: translateY(-50%) translateY(10px);
    transform: translateY(-50%) translateY(10px);

    -webkit-box-shadow: 2px 2px 0 rgba(0, 0, 0, .20);

    box-shadow: 2px 2px 0 rgba(0, 0, 0, .20);
}

.menu-toggle span:nth-child(2) {
    -webkit-box-shadow: 2px 2px 0 rgba(0, 0, 0, .20);
    box-shadow: 2px 2px 0 rgba(0, 0, 0, .20);
}

.menu-toggle.active span:nth-child(1) {
    -webkit-transition: .2s;
    -o-transition: .2s;
    transition: .2s;
    -webkit-transform: translateY(-50%) translateY(-20px);
    -ms-transform: translateY(-50%) translateY(-20px);
    transform: translateY(-50%) translateY(-20px);

    opacity: 0;
}

.menu-toggle.active span:nth-child(4) {
    -webkit-transition: .2s;
    -o-transition: .2s;
    transition: .2s;
    -webkit-transform: translateY(-50%) translateY(20px);
    -ms-transform: translateY(-50%) translateY(20px);
    transform: translateY(-50%) translateY(20px);

    opacity: 0;
}

.menu-toggle.active span:nth-child(2) {
    -webkit-transform: translateY(-50%) rotate(-135deg);
    -ms-transform: translateY(-50%) rotate(-135deg);
    transform: translateY(-50%) rotate(-135deg);

    -webkit-box-shadow: -3px -2px 0 rgba(0, 0, 0, .20);

    box-shadow: -3px -2px 0 rgba(0, 0, 0, .20);
}

.menu-toggle.active span:nth-child(3) {
    -webkit-transform: translateY(-50%) rotate(135deg);
    -ms-transform: translateY(-50%) rotate(135deg);
    transform: translateY(-50%) rotate(135deg);

    -webkit-box-shadow: 2px -3px 0 rgba(0, 0, 0, .20);

    box-shadow: 2px -3px 0 rgba(0, 0, 0, .20);
}

.user-info {
    font-size: 13px;

    display: none;

    -webkit-box-flex: 0;

    -ms-flex-positive: 0;

    flex-grow: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    -ms-flex-preferred-size: 193px;
    flex-basis: 193px;
}

.user-info ul {
    font-weight: 300;

    margin: 20px;

    list-style: none;

    text-align: right;
}

.user-info li {
    margin: 0;
    padding: 3px;

    text-decoration: none;
}

.user-info a {
    font-weight: 400;

    text-decoration: none;

    color: orange;
}

.user-info a:hover {
    font-weight: 700;

    color: darkorange;
}

.logged-in {
    display: block;
}

.logged-in {
    display: none;
}

.mobile-nav {
    position: fixed;
    z-index: 9;
    top: -392px;
    left: 0;

    width: 100%;
    height: 392px;

    -webkit-transition: .5s;

    -o-transition: .5s;

    transition: .5s;

    background: white;
}

.mobile-nav ul {
    font-weight: 700;

    display: -webkit-box;

    display: -ms-flexbox;

    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;

    margin: 20px 10px;

    text-align: center;

    -ms-flex-pack: distribute;

    justify-content: space-around;
}

.mobile-nav li {
    margin: 10px;
}

.show-mobile-nav {
    top: 82px;
}

nav {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -ms-flex-negative: 1;
    flex-shrink: 1;
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
}

.desktop-nav-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    text-align: center;

    -webkit-box-pack: center;

    -ms-flex-pack: center;

    justify-content: center;
}

/* /header*/

/* main */

main {
    margin-top: 82px;
}

.descr {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;

    max-width: 75%;
    padding: 0 20px;

    -ms-flex-pack: distribute;

    justify-content: space-around;
}

.descr .btn-red {
    margin: 20px auto;
}

main h1,
.hero h2 {
    position: absolute;
    left: 50%;

    min-width: 220px;

    -webkit-transform: translateX(-50%);

    -ms-transform: translateX(-50%);

    transform: translateX(-50%);

    color: white;
}

main h1 {
    top: 20vh;

    text-align: center;
}

.hero h2 {
    top: 250px;
    top: 15vh;
}

.hero {
    display: block;

    width: 100%;
    height: calc(100vh - 82px);
}

.background {
    position: relative;
    z-index: -1;

    width: inherit;
    height: inherit;

    background-repeat: no-repeat;
    background-position: center;
    /*    background-image: url("../img/smiling_children.jpg");*/
    background-size: cover;
}

.background img {
    position: relative;
    z-index: -1;

    width: inherit;
    height: inherit;

    -o-object-fit: cover;

    object-fit: cover;
}

.overlay {
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;

    width: inherit;
    height: inherit;

    opacity: .4;
    background-color: black;

    -o-object-fit: cover;

    object-fit: cover;
}

.hero .descr,
.hero .bla {
    position: absolute;
    z-index: 2;
    top: 82px;
    left: 50%;

    display: block;

    min-width: 201px;
    margin-top: 5%;

    -webkit-transform: translateX(-50%);

    -ms-transform: translateX(-50%);

    transform: translateX(-50%);
    text-align: center;

    color: white;
}

.sec-ele {
    /*    height: auto;*/
    margin: 20px;

    -ms-flex-preferred-size: 383px;

    flex-basis: 383px;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -ms-flex-negative: 1;
    flex-shrink: 1;
}

.highlight {
    padding: 30px 10px 40px;

    text-align: center !important;
}

.highlight {
    color: #fff;
    background-color: rgba(0, 0, 0, .8);
}

.highlight .descr,
.center .descr {
    margin: 0 auto;
}

.highlight h2::after,
.center h2::after {
    display: block;

    width: 120px;
    height: 2px;
    margin: 15px auto;

    content: '';

    background-color: rgba(255, 255, 255, .2);
}

.center h2::after {
    background-color: rgba(0, 0, 0, .3);
}

.center {
    display: block;
}

.center .descr {
    margin: 30px auto 40px;

    text-align: center;
}

.side-by-side {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    text-align: center;

    -ms-flex-wrap: wrap;

    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.dl-samples li {
    margin: 0 10px;
}

.poster iframe {
    width: 100%;
    max-width: 100%;
    height: 100%;
    min-height: 400px;
    max-height: 100%;
}

.poster img {
    width: 100%;
    max-height: inherit;

    -o-object-fit: cover;

    object-fit: cover;
    -o-object-position: center;
    object-position: center;
}

.showcase {
    -webkit-box-flex: 0;
    -ms-flex-positive: 0;
    flex-grow: 0;
}

.showcase img {
    width: 100%;
    height: auto;
}

.sec-ele li {
    padding: 10px 0;
}

.dl-samples {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    -webkit-box-pack: center;

    -ms-flex-pack: center;

    justify-content: center;
}

/* /main */

/* footer */

footer {
    line-height: 28px;

    position: relative;
    top: 50%;

    padding: 20px;

    text-align: center;

    background-color: darksalmon;
}

/* /footer */

/* compatibility */

@supports not (display: flex) {
    body::before {
        content: "<< Seu navegador não está atualizado ou não é suportado. Considere utilizar as versões mais atuais do Google Chrome, Firefox, Safari ou Edge. >>";
        background-color: red;
    }
}


/* VIEWS ADAPTATIVAS */

/* Mobile First */

@media (max-width: 530px) {
    .desktop-nav {
        display: none;
    }
    .wrapper {
        background-color: #bedbe9;
    }
}

/* Tablet */

@media (min-width: 531px) and (max-width: 1022px) {
    .desktop-nav {
        display: none;
    }
    .wrapper {
        background-color: #ed6d62;
    }
    h1 {
        font-size: 48px;

        margin-bottom: 24px;
    }
    h2 {
        font-size: 32px;

        margin-bottom: 16px;
    }
    .highlight h3::after {
        margin: 20px auto;
    }
    .poster {
        max-height: 400px;
    }
    .poster img {
        max-height: inherit;
    }
    .sec-ele {
        margin: 30px;
    }
    .center .descr {
        margin: 50px auto 60px;
    }
}

/* Desktop */

@media (min-width: 1023px) {
    h1 {
        font-size: 60px;

        margin-bottom: 30px;
    }
    h2 {
        font-size: 36px;

        margin-bottom: 18px;
    }
    p {
        font-size: 16px;
    }
    .mobile-view {
        display: none;
    }
    header {
        height: 110px;
    }
    header img {
        width: 237px;
        height: 110px;

        -webkit-box-flex: 0;

        -ms-flex-positive: 0;

        flex-grow: 0;
        -ms-flex-negative: 0;
        flex-shrink: 0;
        -ms-flex-preferred-size: 237px;
        flex-basis: 237px;
    }
    .wrapper {
        background-color: #fffa8d;
    }
    .menu-toggle {
        display: none;
    }
    .user-info {
        display: block;
    }
    main {
        margin-top: 110px;
    }
    .hero {
        height: calc(100vh - 110px);
    }
    .hero .descr {
        top: 110px;

        width: 926px;
    }
    .highlight h3::after {
        margin: 30px auto;
    }
    /*
    .section {
        margin: 40px;
        padding: 40px 0;
    }
*/
    .side-by-side:nth-child(odd) {
        text-align: left;
    }
    .side-by-side:nth-child(even) {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
        flex-direction: row-reverse;

        text-align: right;
    }
    .side-by-side:nth-child(odd) .btn-red {
        margin-left: 0;
    }
    .side-by-side:nth-child(even) .btn-red {
        margin-right: 0;
    }
    .side-by-side:nth-child(odd) .dl-samples {
        -webkit-box-pack: start;
        -ms-flex-pack: start;
        justify-content: flex-start;
    }
    .side-by-side:nth-child(even) .dl-samples {
        -webkit-box-pack: end;
        -ms-flex-pack: end;
        justify-content: flex-end;
    }

    .poster {
        max-height: 500px;
    }
    .poster img {
        max-height: inherit;
    }
    .sec-ele {
        margin: 40px;
    }
    .center .descr {
        margin: 70px auto 80px;
    }
}
