body {
    margin: 40px;
}

.sidebar {
    grid-area: sidebar;
}

.content {
    grid-area: content;
}

.header {
    grid-area: header;
}

.wrapper {
    display: grid;
    grid-gap: 2vmin;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 16vmin 16vmin 16vmin 16vmin 16vmin;
    grid-template-areas: 
        "header  header  header" 
        "sidebar content content"
        "sidebar content content"
        "sidebar content content"
        "sidebar content content";
    color: #444;
    background-image: url("/assets/img/menina%20pensando.jpg");
    background-repeat:no-repeat;
/*    cobre toda a area visivel*/
    background-size:cover;
/*    desenha a imagem pelo topo*/
    background-position:top;
/*    cria efeito parallax*/
/*    background-attachment: fixed;*/
    
}
.wrapper2 {
    display: grid;
    grid-gap: 2vmin;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 16vmin 16vmin 16vmin 16vmin 16vmin;
    grid-template-areas: 
        "header  header  header" 
        "sidebar content content"
        "sidebar content content"
        "sidebar content content"
        "sidebar content content";
    
}

.box {
    color: #fff;
    border-radius: 5px;
    padding: 20px;
    font-size: 150%;
}

.header {
    background-color: #999;
}

.overlay {
    z-index: 10;
    grid-column: content-start / content-end;
    grid-row: header-start / content-end;
    background-color: black;
    opacity: 0.5;
}