<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Coruja Educação - Coruja Escola</title>
    <link rel="stylesheet" href="assets/css/reset.css">
    <link href="assets/fonts/bariol_regular-webfont.woff">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,400i,700,900&amp;subset=latin-ext" rel="stylesheet">
    <link rel="stylesheet" href="assets/css/font-awesome.min.css">
    <link rel="stylesheet" href="assets/css/coruja_style.css">
    <link rel="stylesheet" href="assets/css/modal.css">
    <script type="text/javascript" src="assets/js/jquery-2.1.1.min.js"></script>
</head>

<body>
    <div class="wrapper">
        <div class="header">
            <a href="#" class="logo"><img class="logo" alt="Coruja Educação - Página Inicial" src="assets/img/logo.png" width="173px" height="80px"></a>
            <h1>Coruja Educação</h1>
            <div class="desktop-nav desktop-view">
                <nav>
                    <ul class="desktop-nav-list glist">
                        <li><a href="#" class="btn-white">O Que Fazemos?</a></li>
                        <li><a href="#" class="btn-white">Soluções</a></li>
                        <li><a href="#" class="btn-white">Parceiros</a></li>
                        <li><a href="#" class="btn-white">Quem Somos</a></li>
                        <li><a href="#" class="btn-white">Área do Cliente</a></li>
                        <!--<li><a href="#" class="btn-white">Acessar</a></li>
                        <li><a href="#" class="btn-white">Criar Conta</a></li>-->
                    </ul>
                </nav>
            </div>
            <div class="menu-toggle btn-red" id="menu-toggle1">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
            </div>
            <div class="user-info">
                <ul class="logged-in">
                    <li>Oooooooooooooooooooooo</li>
                    <li>Dude, what's goin on?</li>
                    <li>I dunno, do ya?</li>
                    <li><a href="#">Opções</a></li>
                    <li><a href="#" id="log-out">Sair</a></li>
                </ul>
                <ul class="not-logged-in">
                    <li><a href="#" id="log-in">Acessar conta</a></li>
                    <li><a href="#">Cadastrar-se</a></li>
                </ul>
            </div>
        </div>
        <div class="mobile-nav mobile-view">
            <nav>
                <ul class="mobile-list glist">
                    <li><a href="#" class="btn-red">O Que Fazemos?</a></li>
                    <li><a href="#" class="btn-red">Soluções</a></li>
                    <li><a href="#" class="btn-red">Parceiros</a></li>
                    <li><a href="#" class="btn-red">Quem Somos</a></li>
                    <li><a href="#" class="btn-red">Mobile</a></li>
                    <li><a href="#" class="btn-red">Área do Cliente</a></li>
                    <li><a href="#" class="btn-red">Acessar</a></li>
                    <li><a href="#" class="btn-red">Criar Conta</a></li>
                </ul>
            </nav>
        </div>

        <div class="content">
            <div class="intro" id="hero">
                <div class="background">
                    <!--<img alt="Crianças alegres em ambiente escolar." src="assets/img/smiling_children.jpg" width="1920" height="1080">
                    <div class="overlay"></div>-->
                </div>
                <div class="descr">
                    <h2>Coruja Escola</h2>
                    <h3>
                        Soluções para os diversos perfis de aprendizagem dentro da sala de aula
                    </h3>
                </div>
            </div>

            <div class="section-highlight" id="_oqfzm">
                <div class="sec-ele descr">
                    <h3>Sobre o programa</h3>
                    <p>A linha Coruja Escola oferece produtos que lidam com o monitoramento e intervenção pedagógica, avaliação digital personalizada e mais. Juntos, formam um programa completo adaptado à diversidade dos alunos da sala de aula. É comercializada pela Pearson Clinical.</p>
                    <a href="#" class="btn-red">Acessar a loja</a>
                </div>
            </div>

            <div class="section-center" id="_aval">
                <div class="poster">
                    <img src="./assets/img/Aval_Coruja_kid.jpg" alt="Menina no ensino fundamental fazendo a Avaliação Coruja">
                </div>
                <div class="sec-ele descr">
                    <h3>Avaliação Coruja</h3>
                    <p>É uma avaliação adaptativa realizada em computador (Windows), desenvolvida para mapear o desempenho dos alunos em competências e habilidades relacionadas às áreas de Língua Portuguesa e Matemática. O sistema gera relatórios personalizados para que gestores e professores possam monitorar a evolução da aprendizagem de cada aluno, turma e ano escolar e, assim, determinar áreas críticas que necessitam de uma intervenção pedagógica mais intensa.</p>
                    <a href="#" class="btn-red">Acesse a Demo</a>
                </div>
            </div>
            <div class="section" id="_cad_aluno">
                <div class="sec-ele showcase">
                    <img src="./assets/img/LP_ALUNO_ANO_1_SEM_1_web.png" alt="Menina no ensino fundamental fazendo a Avaliação Coruja">
                </div>
                <div class="sec-ele showcase">
                    <img src="./assets/img/MAT_ALUNO_ANO_1_SEM_1_web.png" alt="Menina no ensino fundamental fazendo a Avaliação Coruja">
                </div>
                <div class="sec-ele descr">
                    <h3>Cadernos do Aluno</h3>
                    <p>Os cadernos são aliados dos gestores e professores para um ensino mais eficiente e estão alinhado às especificidades dos diversos alunos na sala de aula. São atividades organizadas em diferentes eixos, fundamentais para a aprendizagem dos conteúdos acadêmicos da Língua Portuguesa e da Matemática durante o ciclo de alfabetização. O conteúdo do caderno está organizado de forma interdisciplinar e personalizada, com diferentes níveis de complexidade.</p>
                    <h3>Baixe uma amostra gratuita dos cadernos:</h3>
                    <div class="dl-samples">
                        <ul>
                            <li>
                                <a href="#">1º Ano - Língua Portuguesa</a>
                            </li>
                            <li>
                                <a href="#">2º Ano - Língua Portuguesa</a>
                            </li>
                            <li>
                                <a href="#">3º Ano - Língua Portuguesa</a>
                            </li>
                        </ul>
                        <ul>
                            <li>
                                <a href="#">1º Ano - Matemática</a>
                            </li>
                            <li>
                                <a href="#">2º Ano - Matemática</a>
                            </li>
                            <li>
                                <a href="#">3º Ano - Matemática</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="section" id="_cad_prof">
                <div class="sec-ele showcase">
                    <img src="./assets/img/LP_PROF_ANO_1_SEM_2_web.png" alt="Menina no ensino fundamental fazendo a Avaliação Coruja">
                </div>
                <div class="sec-ele showcase">
                    <img src="./assets/img/MAT_PROF_ANO_1_SEM_2_web.png" alt="Menina no ensino fundamental fazendo a Avaliação Coruja">
                </div>
                <div class="sec-ele descr">
                    <h3>Cadernos do Professor</h3>
                    <p>Os cadernos do professor permitem o acompanhamento das atividades contidas nos cadernos dos alunos. Apresenta a proposta da diferenciação da instrução - que guia todo o nosso desenvolvimento, além de contar com comentários e orientações para melhorar a intervenção pedagógica dentro dessa proposta.</p>
                    <h3>Baixe uma amostra gratuita dos cadernos:</h3>
                    <div class="dl-samples">
                        <ul>
                            <li>
                                <a href="#">1º Ano - Língua Portuguesa</a>
                            </li>
                            <li>
                                <a href="#">2º Ano - Língua Portuguesa</a>
                            </li>
                            <li>
                                <a href="#">3º Ano - Língua Portuguesa</a>
                            </li>
                        </ul>
                        <ul>
                            <li>
                                <a href="#">1º Ano - Matemática</a>
                            </li>
                            <li>
                                <a href="#">2º Ano - Matemática</a>
                            </li>
                            <li>
                                <a href="#">3º Ano - Matemática</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="section-highlight" id="_oqfzm">
                <div class="sec-ele descr">
                    <h3>Adquira já o Coruja Escola</h3>
                    <a href="#" class="btn-red">Acessar a loja</a>
                </div>
            </div>
        </div>

        <div class="footer" id="footer">
            <p>
                <button id="myBtn1" class="btn">#myBtn1 .btn</button>
            </p>
            <p>
                <button id="myBtn2" class="btn">#myBtn2 .btn</button>
            </p>
            <div class="sobre"><a class="call-to-action" href="sobre.html">Sobre a Coruja</a></div>
            <div class="contato"><a href="suporte.html">Fale Conosco</a>
            </div>
            <div class="endereco">
                <p>Rua Dr. Virgílio de Carvalho Pinto, 433</p>
                <p>Office 7A</p>
                <p>Pinheiros, São Paulo - SP, CEP 05415-030 (Impact Hub)</p>
            </div>
        </div>

        <div id="myModal" class="modal">
            <div class="modal-content">
                <div class="modal-header">
                    <span class="close">&times;</span>
                    <h2>Modal Header</h2>
                </div>
                <div class="modal-body">
                    <p>Some text in the Modal Body</p>
                    <p>Some other text...</p>
                </div>
                <div class="modal-footer">
                    <h3>Modal Footer</h3>
                </div>
            </div>
        </div>

        <script src="assets/js/basic_functions.js"></script>
        <script src="assets/js/coruja_jQuery.js"></script>
        <!--  JQuery  -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    </div>
</body>

</html>
